body { background-color: #FCEBB6;
		color: #221811;
		font-family: Verdana, Arial, sans-serif; 
		}
header { background-color: #D2B48C;
		text-align: center; 
		}
img {border: none;
	
	 padding-left: 10px;
	 padding-right: 10px;}
main{background-image: url(fall.jpg);
	   background-repeat: no-repeat;
	   background-position: right;
	   background-size: 55%;
}
h1	{line-height: 200%; 
	}
nav{ text-align: center;
	font-weight: bold; 
	}
footer {background-color: #D2B48C;
		font-size: .60em;
		font-style: italic;
		text-align: center;
		}
details {padding-left: 20%;
		 padding-right: 20%;}
#wrapper { margin-left: auto;
			margin-right: auto;
			width: 80%; }